.bg-gray {
  background-color: #f7f7f7;
}

#password-reset .btn-primary {
  background-color: #005194;
}

.down-arrowhead {
  font-size: 1.5em;
  line-height: 0;
  font-weight: 100;
  position: absolute;
  top: 0.2em;
  right: -1em;
}

#help-content ol > li {
  font-size: 1.2em;
}

#form-error-feedback {
  display: none;
}

form.error #form-error-feedback {
  display: block;
}
